#nameInputForm {
	margin-top:10px;
	width:100%;
}

#nameInputElement {
	vertical-align: bottom;
	margin:0;
	padding: 0;
}

/* The actual input element */
#nameInput {
	width:90%;

	border:none;
	
	height:10vw;
	padding:0px;
	font-size:8vw;

	border-radius:2vw 0vw 0vw 2vw;
	-moz-border-radius:2vw 0vw 0vw 2vw;
}

/* The button for submitting */
#submitButton {

	background:#078800;
	display: inline-block;
	font-size:8vw;
	height:10vw;
	width:10%;
	text-align: center;
	vertical-align: top;
	cursor:pointer;

	border-radius:0vw 2vw 2vw 0vw;
	-moz-border-radius:0vw 2vw 2vw 0vw;
}