.repoItem {
	background:black;
	overflow-x:scroll;

	margin-top:10px;
	padding: 10px;
}

.repoSuperScript {
	margin-bottom:5px;
}

.repoSubScript {
	margin-top:5px;
}

.repoName {
	
}

.repoDescription {
	font-size:1.5em;
}

.repoLanguage {
	float:right;
}

.repoWatchers {
	float:bottom;
}

.repoForks {

}