#userInfo {
	font-size: 3vw;
	/*display:inline-block;*/
	text-align: center;
	width:100%;
}

#userInfo #userName {
	font-size:3em;
}

#userInfo #realName {
	padding-top:5px;
	font-size:2em;
}

#userInfo #location {
	font-size:2em;
}

/* The person icon */
#personIcon {
	color: #078800;
	font-size: 30vw;
}

#iconRow {
	text-align: center;
	width:100%;
	margin-top:10px;
}

#userIcon {
	border-width: 2vw;
	border-style: solid;
	border-color: #078800;


	border-radius:2vw;
	-moz-border-radius:2vw;
}