@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Source+Code+Pro|Roboto|Sedgwick+Ave+Display');

/* Color Palette */
/*
	black - header
	silver - header color 1
	#272522 - the "off-black" kinda slate gray
	#078800 - a lime green for logo
	white - regular text color
*/

.hidden {
	display: none;
}

/* Header Info */
.header {
	background: black;
	height:50px;
	width:100%;
}

.header .logoTitle {
	padding:10px;
}

.header .logoTitle .logoPart1 {
	font-size:1.2em;
	font-family: 'Roboto', sans-serif;
	color: silver;
}

.header .logoTitle .logoPart2 {
	font-size:1.2em;
	font-family: 'Permanent Marker', cursive;
	color: #078800;
}

/* Body Info */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: #272522;
  color: white;
}

.content {
	padding-left:15px;
	padding-right:15px;
}

#modeButtons {
	width:100%;
	
	text-align:center;
	height:50px;

	margin-top:10px;
}

#modeButtons .modeButton {
	background:black;
	display:inline-block;
	width:calc(50% - 10px);
	height:100%;
	cursor: pointer;
}

#modeButtons #repoMode {

	margin-right:10px;
	
}

#modeButtons #gistMode {

	margin-left:10px;
}

#modeButtons .selected {
	background: #078800;
}

.buttonText {
	margin-top:15px;
}

.failText {
	text-align: center;
	font-size: 2em;
}